*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(240, 174, 104);
}
.gauche{
   
}
.droite ul{
    display: flex;
    justify-content: space-around;
    width:  20vw;
}
li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

section a{
    color: rgb(175, 108, 8);
    text-decoration: none;
    font-size: 1.3em;
}